<!DOCTYPE html>
<html>
  <head>
    <title>Hangman App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-app="HangmanApp" ng-controller="GameController">
    <p class="title">HANGMAN
</p>
    <div >
      <div class="guess">
        Guesses Left :: {{guesses}}
      </div>
      
       <div class="correctLetter">
        <i class="correct-icon material-icons" style="font-size:60px;color:#009688;">thumb_up</i> <span ng-repeat="letter in correctLettersChosen">{{letter}}</span>
      </div>
	    <div class="incorrectLetter">
        <i class="incorrect-icon material-icons" style="font-size:60px;color:#E91E63;">thumb_down</i><span ng-repeat="letter in incorrectLettersChosen">{{letter}}</span>
      </div>
      <div>You have to guess: {{displayWord}}</div>
      <div>
        
        <div class="input">
          <input type="text" name="guess" ng-model="input.letter">
          <button class="button" ng-click="letterChosen()">Submit</button>
          
        </div>
      </div>
    </div>
  </body>
</html>
